body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    background: white;
    display: inline-flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    align-items: center;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    align-self: start;
    justify-self: start;
}

#weatherInfo {
    border: 2px solid black;
    width: 500px;
    height: 300px;
    border-radius: 30px
}

#suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-width: 200px;
}

#suggestions li {
    padding: 5px 10px;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #f0f0f0;
}

.top-layer {
    display: flex;
}