body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 2rem;
}

p{
    font-size: 1.3rem
}

.app {
    background: white;
    display: inline-flex;
    flex-direction: column;
    gap: 2.6rem;
    padding: 3rem;
    align-items: center;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

input {
    padding: 0.8rem;
    outline: none;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
}

button {
    padding: 0.8rem 0.5rem;
    margin-left: 1.4rem;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    align-self: start;
    justify-self: start;
}

#weatherInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 100%;
    height: 90%;
    border-radius: 3%
}

#suggestions li:hover {
    background-color: #f0f0f0;
}

.top-layer {
    display: flex;
}

#icon {
    height: 8rem;
    width: 8rem
}


